<% layout("layouts/boilerplate")%>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="mb-4">Create a New Listing</h3>
    <form
      method="post"
      action="/listings/"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Add a title"
          class="form-control"
          required />
        <div class="invalid-feedback">Title Should be valid</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          placeholder="Desciption"
          class="form-control"
          required></textarea>
        <div class="invalid-feedback">Description should be valid</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-8">
          <label for="image" class="form-label">Image URL</label>
          <input
            type="file"
            id="image"
            name="listing[image]"
            class="form-control" />
        </div>
        <div class="mb-3 col-md-4">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" name="listing[category]">
            <option selected>Rooms</option>
            <option value="Iconic_Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing_Pool">Amazing Pool</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Domes">Domes</option>
            <option value="House_Boats">House Boats</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            id="price"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Surat, Gujrat"
          class="form-control"
          required />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
  </div>
</div>
